@{
    ViewBag.Title = "HW1";
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <br/>
    <p>姓名：<input type="text" name="yourname"><br /></p>
    <p>帳號：<input type="text" name="text"><br /></p>
    <p>密碼：<input type="password" name="password"><br /></p>
    <p>
        性別：
        <input type="radio" name="gender" value="A">男性
        <input type="radio" name="gender" value="B">女性
        <br />
    </p>
    <p>
        興趣:
        <input type="checkbox" name="item" value="A">游泳
        <input type="checkbox" name="item" value="A">閱讀
        <input type="checkbox" name="item" value="A">看電影
        <br />
    </p>
    <p>
        自我介紹：
        <textarea name="" rows="2" cols="30"></textarea>
        <br />
    </p>
</body>

</html>
